.question-card {
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    overflow: auto;
}

.example-box {
    border-radius: 5px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: #ffffff12;
}

.example-box span {
    font-weight: bold;
}