.cs-main-container{
    border-radius: 10px;
}

.cs-conversation-header__content .cs-conversation-header__user-name {
    background-color: #333030 !important;
    color: white !important;
}

.cs-conversation-header__content .cs-conversation-header__info {
    color: white !important;
    background-color: #333030 !important;
}

.cs-message-input__content-editor {
    color: white !important;
    background-color: rgba(68, 70, 84, 1) !important;
}

.cs-message-input__content-editor-container {
    color: white !important;
    background-color: rgba(68, 70, 84, 1) !important;
}

.cs-message-input__content-editor-wrapper {
    color: white !important;
    background-color: rgba(68, 70, 84, 1) !important;
}

.cs-message-input__content-editor[data-placeholder]:empty:before {
    color: white !important;
}

.cs-message--incoming .cs-message__content {
    background-color: rgba(68, 70, 84, 1) !important;
    color: white !important;
}

.cs-message--outgoing .cs-message__content {
    color: white !important;
    background-color: rgba(52, 53, 65, 1) !important;
}

.cs-message__content {
    margin: 5px 0;
    color: white !important;
    background-color: rgba(52, 53, 65, 1) !important;
}

.cs-message-list .cs-typing-indicator {
    background-color: #333030 !important;
}

.cs-typing-indicator__dot {
    background-color: white !important;
}

.cs-typing-indicator__text {
    color: white !important;
}

.gray-color {
    background-color: #333030 !important;
}