.lab-container {
    display: flex;
    height: calc(100vh - 90px);
}

.question-container {
    width: 35%;
    overflow-x: hidden;
    background-color: #4b4b4b;
}

.editor-container {
    width: 65%;
    border: 1px solid #373c43;
}

.navbar-editor {
    border-bottom: 1px solid #373c43;
    height: 30px;
    border-radius: 3px;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
}

.navbar-container-left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.navbar-container-right {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.font-size-container {
    display: flex;
    gap: 15px;
}

.btn {
    cursor: pointer;
    margin: 0 15px;
    width: 68px;
    height: 28px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}

.run-btn {
    background-color: rgb(45 181 93);
    color: #ffffff;
}

.help-btn {
    background-color: #0461c4;
    color: #ffffff;
}

.run-btn:hover {
    background-color: rgb(49, 213, 108);
}

.help-btn:hover {
    background-color: #0274e8;
}

.run-btn:disabled {
    cursor: none;
    background-color: #373c43;
}

.data-container {
    display: flex;
    padding: 5px 10px;
    height: 90px;
}

.output-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #373c43;
    overflow-y: auto;
}

.input-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0 10px;
}
.output-custom {
    display: flex;
}

.center-items {
    justify-content: center;
    align-items: center;
}

#code-inp {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #242424;
    color: whitesmoke;
    padding: 5px;
}

#code-inp:focus {
    outline: none;
}