.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #2f3136;
}

.navbar-sub-container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 40%;
}

.logo {
    margin: 3px 25px 3px 35px;
    width: 40px;
}

.logo img {
    height: auto;
    max-width: 100%;
}

.navbar-link {
    display: flex;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border: 3px solid transparent;
    color: #e5e5e5;
    height: 2em;
    border-radius: 100px;
    align-items: center;
    padding-left: 0.9em!important;
    padding-right: 0.9em!important;
    margin: 0 0.3em;
}

.navbar-link:hover{
    border: 3px solid transparent;
    background-color: #202225;
}

.active-link{
    background-color: #1a1a1e;
}

.active-link:hover{
    background-color: #1a1a1e;
}