.topic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    border: 1px transparent;
    border-radius: 15px;
    background-color: #ffffff12;
    padding: 25px;
    width: 60%;
    height: 65vh;
    box-shadow: 8px 16px 16px 8px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.pagination-container {
    margin-top: 15px;
    color: white;
}