.topic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    border: 1px transparent;
    border-radius: 15px;
    background-color: #ffffff12;
    padding: 35px 55px;
    width: 45%;
    height: 60vh;
    box-shadow: 8px 16px 16px 8px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.pagination-container {
    margin-top: 15px;
    color: white;
}

.title-container {
    width: 63%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}